.colorname{
    color: orange;
}
h1{
    font-size: 40px;

}
body{
    font-family: 'Poppins', sans-serif;
}
.link-button{
    border-radius: 20px;
    padding:10px 20px ;
    background-image: linear-gradient(orangered,yellow);
    color: white;
    text-decoration: none;
    
}
.flexible-container{
    display:flex;
    padding: 4%;
}
.half-width{
    width:50%;
}
.half-width img{
    width: 85%;

}
.second-portion{
    background-image: url(second-background.png);
    background-repeat: no-repeat;
}
.middle{
    text-align: center;
}
.meals{
    width:50%;
    margin-left: 2%;
          margin-right: 2%;
          padding-left: 50px;
          padding-top: 2px;
          box-shadow: 5px 5px 20px black;
          border-radius:30px;
          border-image: linear-gradient(darkgoldenrod, yellow );
          border-image-slice:1;
    
}
.round{
    border-radius: 10px;
}
.f1{
    text-align: center;
    width: 100%;
    background-color:black;
    padding-top: 20px;
    
}
.hub{
    color: cornflowerblue;

}
.container{
    border: 1px solid grey;
    border-radius: 20px;
    padding-left: 90px;
    margin: 20px;
    box-shadow:5px 5px 30px black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container h1{
    text-align: center;
}
.container p{
    text-align: center;
    font-size: 20px;
}
